.flex {
    flex-wrap: wrap;
    margin-right: 200px;
    margin-left: 300px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
}



.div {
    background-color: #fffafa;
    width: 180px;
    height: 300px;
    margin: 10px;
    box-shadow: 0px 2px 3px rgba(160, 160, 160, 0.933);
    border-radius: 15px;
}

.img {
    height: 200px;
    width: 180px;
    border-radius: 15px;
}

.font {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;

}